body {
    margin: 0;
    background: linear-gradient(to top, #0E216F, black);
    height: 100vh; 
    user-select: none;
}

#header {
    position: fixed;
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    background-color: transparent;
    width: 100%;
    height: 6vh;
}

.scelte {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    margin-left: 2%;
    margin-right: 2%;
}

.scelte:hover {
    color: rgb(206, 206, 206);
}

.scelte a {
    text-decoration: none; /* Rimuove la sottolineatura */
    color: inherit; /* Mantiene il colore del testo del contenitore genitore */
    font-weight: normal; /* Imposta lo spessore del font al valore normale */
    font-size: inherit; /* Mantiene la dimensione del font del contenitore genitore */
}

/* main */

#main {
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    height: 100vh;
}

#containerLogo {
    height: auto;
    width: 30%;
}

#ContainerSocial {
    position: fixed;
    bottom: 10%;
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px; /* Aumentato lo spazio tra i social */
}

#ContainerSocial .social {
    height: 60px; /* Altezza uniforme per le icone */
    width: 60px; /* Larghezza uniforme per le icone */
    background-color: white;
    border-radius: 50%; /* Cerchio perfetto */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease; /* Aggiunta di transizione fluida */
}

.social:hover {
    transform: scale(1.2);
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

#ContainerSocial .social a img {
    height: 80%; /* Mantiene l'immagine centrata e proporzionata */
    width: 80%;
}


#main h3 {
    position: fixed;
    bottom: 0;
    color: white;
    font-size: 2vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}