body {
    margin: 0;
    background: linear-gradient(to top, #0E216F, black);
    height: 100vh;
    user-select: none;
}

/* header */
#header {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: transparent;
    width: 100%;
    height: 6vh;
}

.scelte {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    margin-left: 2%;
    margin-right: 2%;
}

.scelte:hover {
    color: rgb(206, 206, 206);
}

.scelte a {
    text-decoration: none;
    color: inherit;
    font-weight: normal;
    font-size: inherit;
}

/* main */
#main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

#containerLogo {
    height: auto;
    width: 30%;
}

#ContainerSocial {
    position: fixed;
    bottom: 10vh;
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

#ContainerSocial .social {
    height: 60px;
    width: 60px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
}

.social:hover {
    transform: scale(1.2);
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

#ContainerSocial .social a img {
    height: 80%;
    width: 80%;
}

#main h3 {
    position: fixed;
    bottom: 0;
    color: white;
    font-size: 2vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Media Queries per rendere il sito responsive */
@media screen and (max-width: 768px) {
    #containerLogo {
        width: 50%; /* Ridimensionamento logo su tablet */
    }

    #ContainerSocial {
        width: 50%;
        bottom: 15%; /* Aumentare lo spazio dal fondo su schermi più piccoli */
    }

    #ContainerSocial .social {
        height: 50px;
        width: 50px; /* Riduzione dimensioni icone social su tablet */
    }

    #main h3 {
        font-size: 1.8vh; /* Riduzione testo del footer */
    }
}

@media screen and (max-width: 480px) {
    #containerLogo {
        width: 70%; /* Ridimensionamento logo su smartphone */
    }

    #ContainerSocial {
        width: 70%;
        bottom: 12%;
    }

    .scelte {
        margin-left: 5px;
        margin-right: 5px;
    }

    #ContainerSocial .social {
        height: 40px;
        width: 40px; /* Riduzione ulteriormente le icone social */
    }

    #main h3 {
        font-size: 1.5vh;
    }
}
