body {
    scrollbar-width: none;
    margin: 0;
    background: linear-gradient(to top, #0E216F, black);
    user-select: none;
}

html::-webkit-scrollbar {
    display: none; /* Nasconde la scrollbar su WebKit (Chrome, Safari) */
}

#header {
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    background-color: transparent;
    width: 100%;
    height: 6vh;
}

.scelte {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    margin-left: 2%;
    margin-right: 2%;
}

.scelte a {
    text-decoration: none; /* Rimuove la sottolineatura */
    color: inherit; /* Mantiene il colore del testo del contenitore genitore */
    font-weight: normal; /* Imposta lo spessore del font al valore normale */
    font-size: inherit; /* Mantiene la dimensione del font del contenitore genitore */
}

/* main */

#main {
    display: flex;
    justify-content: center; 
}

#containerListino {
    width: 40%;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: 3vh;
    margin-bottom: 3vh;
    background-color: white;
    border-radius: 25px;
}

#containerListino h1 {
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#containerListino ul {
    margin: 2vh 3vh;
    padding: 2vh;
    list-style-type: none;
    border: 2px solid black;
}

#containerListino ul li {
    display: flex;
}

#containerListino ul li div {
    flex: 1;
    font-size: large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

@media screen and (max-width: 480px) {
    #containerListino {
        width: 90%;
        padding-bottom: 20px;
        padding-top: 20px;
        margin-top: 3vh;
        margin-bottom: 3vh;
    }

    .scelte {
        margin-left: 8px;
        margin-right: 8px;
    }


}
